body {
  font-size: 20px;
  font-family: sans-serif;
  color: #333;
  border: 100px solid rgb(206, 236, 206);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}
#moringa {
  float: right;
}
.jumbotron > h1 {
  color: green;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.question {
  font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label {
  display: block;
}
